.idea
__pycache__
miRBase.py
miRBase_win.py
miRBase_win2.py
miRNA_draft.py
miras.puml
main_py_old.txt
mirek_out1.txt
mirek_out2.txt
miRNAs_ID.obj
organisms_of_prec.obj
precursors_ID_pickle.obj
precursors_name.obj
taxonomy_of_prec.obj
precursors_ID.json
structures.json
